*
{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body
{
    margin: 3px;
    padding: 0px;
    background-color: #183181;
    overflow: hidden;
}

.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .card
{
    position: relative;
    background-color: #ccc;
    border: 3px solid black;
    border-radius: 10px;
    width: 290px;
    height: 440px;
    transition: .5s;
    overflow:hidden;
    /* margin-left: 30px; */
}

.container .card:hover
{
    box-shadow: 0px 1px 15px 4px red;
}

.container .card .img-box
{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.container .card .img-box
{
    opacity: 0.5;
}

.container .card .img-box img
{
    width: 100%;
    text-align: center;
    height: 100%;
}

.container .card .content 
{
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: -100%;
    box-sizing: border-box;
    text-align: center;
    transition: .5s;
}

.container .card:hover .content
{
    bottom: 0;
}

.container .card:nth-child(1) .content
{
    background: linear-gradient(0deg, #000000, transparent);
}

.container .card:nth-child(2) .content
{
    background: linear-gradient(0deg, #000075, transparent);
}

.container .card:nth-child(3) .content
{
    background: linear-gradient(0deg, pink, transparent);
}

.container .card:nth-child(4) .content
{
    background: linear-gradient(0deg, yellow, transparent);
}

.content h2
{
    margin: 0 0 10px;
    padding: 0;
    color: #fff;
    font-size: 20px;
}

.content h2 span
{
    color: yellow;
    font-size: 17px;
}

.content ul
{
    margin: 20px 0 0 0;
    padding: 0;
}

.content ul li
{
    display: inline-block;
    list-style: none;
}

.content ul li a
{
    color: #fff;
    padding: 0 10px;
    font-size: 17px;
}

.content p
{
    color: #ffffff;
}

.container .card:nth-child(3) p
{
    color: #000000;
}