*
{
    box-sizing: border-box;
}

body
{
    background-color:black ;
    color:green;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1, h2, h3
{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

h2
{
    margin-bottom: 10px;
    padding: 0 0 22px 0;
    font-size: 32px;
    background: #000 url(./download.jpg) repeat-x left bottom;
}

h3
{
    margin: 12px 0;
    padding: 0 0 22px 0;
    font-size: 24px;
    background: #000 url(./download.jpg) repeat-x left bottom;
}

p
{
    margin-top: 0;
    text-align: justify;
    line-height: 160%;
}

a
{
    color: #fe4e00;
}

.clr
{
    clear: both;
}

.active a, a:hover
{
    color: #ffffff;
}

/* list */
.list
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.list li
{
    padding: 5px 0;
}

.list li a
{
    text-decoration: none;
}

.list li:hover a
{
    text-decoration: underline;
    color: #ffffff;
}

/* header */
#header
{
    width: 85%;
    margin: 0px auto;
    padding: 0 0 0 15px;
    height: 110px;
    background: url(./download.jpg) repeat-x left bottom;
}

#header h1
{
    font-size: 40px;
}

#header ul
{
    float: right;
    margin: 0px;
    padding: 0px 0px 0px 15px;
    list-style: none;
}

#header li
{
    display: inline;
}

#header a
{
    display: block;
    float: left;
    padding: 0px 0px 15px 25px;
    text-decoration: none;
    font: bold 20px georgia;
}

/* content */
#content
{
    width: 85%;
    margin: 0 auto;
}

#colOne 
{
    float: left;
    width: 450px;
    padding: 0 0 0 15px;
}

#colOne h3
{
    margin-top: 8px;
}

#colOne.img1
{
    width: 100%;
    height: 200px;
}

#colTwo
{
    float: right;
    width: 600px;
    padding: 0 15px 0 0;
}

#colTwo.img2
{
    width: 140px;
    height: 120px;
    float: left;
    margin: 7px 15px 0 0;
}

/* footer */
#footer
{
    width: 85%;
    height: 0 auto;
    padding: 30px 0 0;
}

#footer p
{
    padding: 20px 0 0 0;
    background: url(./download.jpg) repeat-x left;
    text-align: center;
    color: red;
}

#footer p:hover
{
    font-size: 35px;
}